
.info-box,
.theory-content {
  overflow-y: visible !important;
}


.chatmessageproject-hide-scrollbars *:not(html):not(body) {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chatmessageproject-hide-scrollbars *:not(html):not(body)::-webkit-scrollbar {
  display: none;
}
