.u-section-1 .u-sheet-1 {
  min-height: 370px;
}

.u-section-1 .u-text-1 {
  margin: 20px 367px 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px 420px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: -252px 245px 0 740px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 188px;
  margin: -238px auto 50px 174px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-right: 303px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: auto;
    margin-left: 320px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 211px;
    margin-left: 490px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 166px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-right: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 183px;
    margin-left: 380px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 174px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
    margin-left: 270px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
    margin-bottom: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -11px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-bottom: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 140px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 126px;
}

.u-section-2 .u-text-2 {
  margin: 8px 0 30px 126px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 388px;
    margin: 9px auto 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: 32px;
    margin-right: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 118px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 126px;
}

.u-section-3 .u-text-2 {
  margin: 8px 0 8px 126px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 388px;
    margin: 10px auto 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-3 .u-text-1 {
    width: 183px;
    margin-top: 15px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 15px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 172px;
}

.u-section-4 .u-text-1 {
  margin: 10px auto 0 126px;
}

.u-section-4 .u-text-2 {
  margin: 0 0 10px 126px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: 414px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4 .u-text-2 {
    width: 261px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  min-height: 85px;
}

.u-section-5 .u-text-1 {
  margin: 8px calc(((100% - 1140px) / 2) + -304px) 0 calc(((100% - 1140px) / 2) + 125px);
}

.u-section-5 .u-accordion-1 {
  width: 1039px;
  margin: 0 calc(((100% - 1140px) / 2) + -24px) 8px auto;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-5 .u-image-1 {
  min-height: 847px;
  background-image: url("images/noisempa.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-accordion-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-accordion-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 340px) / 2) + -66px);
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  min-height: 45px;
}

.u-section-6 .u-accordion-1 {
  width: 1038px;
  margin: 0 calc(((100% - 1140px) / 2) + -24px) 1px auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 406px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 567px;
  margin-top: 0;
  margin-bottom: -161px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 44px;
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
    margin-bottom: 0;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-accordion-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-7 {
  min-height: 64px;
}

.u-section-7 .u-accordion-1 {
  width: 1038px;
  margin: 10px calc(((100% - 1140px) / 2) + -25px) 10px auto;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 734px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 728px;
  margin-top: 5px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-accordion-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-accordion-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-accordion-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-accordion-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}