.u-section-1 .u-sheet-1 {
  min-height: 393px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 443px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 39px 428px 0 593px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -252px auto 0 421px;
}

.u-section-1 .u-image-1 {
  width: 371px;
  height: 130px;
  margin: -272px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 371px;
  height: 112px;
  object-position: 2.13% 50%;
  margin: 30px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 365px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 296px;
    margin-left: 505px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 327px;
    height: 110px;
    margin-top: -221px;
  }

  .u-section-1 .u-image-2 {
    width: 327px;
    height: 91px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 214px;
    margin-left: 374px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 0;
    margin-left: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 138px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 134px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -228px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -36px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 10px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 217px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  margin: 10px auto 10px 1px;
}.u-section-3 .u-sheet-1 {
  min-height: 367px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 10px 0;
} .u-section-4 {
  min-height: 127px;
}

.u-section-4 .u-text-1 {
  margin: 42px calc(((100% - 1140px) / 2) + -100px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-accordion-1 {
  width: 1140px;
  margin: 0 auto 17px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 847px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 676px;
  height: 825px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 659px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 415px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 350px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 3px;
}

.u-section-5 .u-text-2 {
  margin: 10px auto 10px 0;
} .u-section-6 {
  min-height: 124px;
}

.u-section-6 .u-text-1 {
  margin: 42px calc(((100% - 1140px) / 2) + -100px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 0 auto 14px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 1083px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 661px;
  height: 1037px;
  margin: 11px auto 0 180px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 847px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 533px;
  }
}
#sidebar {
  padding: 2.5em 2.5em 0.5em 2.5em ;
  background: #121212;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 18em;
  z-index: 10000;
}

  #sidebar > .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: opacity 1s ease;
      -webkit-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      transition: opacity 1s ease;
      min-height: 100%;
      opacity: 1;
      width: 100%;
  }

      body.is-ie #sidebar > .inner {
          height: 100%;
      }

  #sidebar nav > ul {
      list-style: none;
      padding: 0;
  }

      #sidebar nav > ul > li {
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
          -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
          -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
          transition: opacity 0.15s ease, transform 0.75s ease;
          margin: 1.5em 0 0 0;
          opacity: 1;
          padding: 0;
          position: relative;
      }

          #sidebar nav > ul > li:first-child {
              margin: 0;
          }

          #sidebar nav > ul > li:nth-child(1) {
              -moz-transition-delay: 0.45s;
              -webkit-transition-delay: 0.45s;
              -ms-transition-delay: 0.45s;
              transition-delay: 0.45s;
          }

          #sidebar nav > ul > li:nth-child(2) {
              -moz-transition-delay: 0.65s;
              -webkit-transition-delay: 0.65s;
              -ms-transition-delay: 0.65s;
              transition-delay: 0.65s;
          }

          #sidebar nav > ul > li:nth-child(3) {
              -moz-transition-delay: 0.85s;
              -webkit-transition-delay: 0.85s;
              -ms-transition-delay: 0.85s;
              transition-delay: 0.85s;
          }

          #sidebar nav > ul > li:nth-child(4) {
              -moz-transition-delay: 1.05s;
              -webkit-transition-delay: 1.05s;
              -ms-transition-delay: 1.05s;
              transition-delay: 1.05s;
          }

          #sidebar nav > ul > li:nth-child(5) {
              -moz-transition-delay: 1.25s;
              -webkit-transition-delay: 1.25s;
              -ms-transition-delay: 1.25s;
              transition-delay: 1.25s;
          }

          #sidebar nav > ul > li:nth-child(6) {
              -moz-transition-delay: 1.45s;
              -webkit-transition-delay: 1.45s;
              -ms-transition-delay: 1.45s;
              transition-delay: 1.45s;
          }

          #sidebar nav > ul > li:nth-child(7) {
              -moz-transition-delay: 1.65s;
              -webkit-transition-delay: 1.65s;
              -ms-transition-delay: 1.65s;
              transition-delay: 1.65s;
          }

          #sidebar nav > ul > li:nth-child(8) {
              -moz-transition-delay: 1.85s;
              -webkit-transition-delay: 1.85s;
              -ms-transition-delay: 1.85s;
              transition-delay: 1.85s;
          }

          #sidebar nav > ul > li:nth-child(9) {
              -moz-transition-delay: 2.05s;
              -webkit-transition-delay: 2.05s;
              -ms-transition-delay: 2.05s;
              transition-delay: 2.05s;
          }

          #sidebar nav > ul > li:nth-child(10) {
              -moz-transition-delay: 2.25s;
              -webkit-transition-delay: 2.25s;
              -ms-transition-delay: 2.25s;
              transition-delay: 2.25s;
          }

          #sidebar nav > ul > li:nth-child(11) {
              -moz-transition-delay: 2.45s;
              -webkit-transition-delay: 2.45s;
              -ms-transition-delay: 2.45s;
              transition-delay: 2.45s;
          }

          #sidebar nav > ul > li:nth-child(12) {
              -moz-transition-delay: 2.65s;
              -webkit-transition-delay: 2.65s;
              -ms-transition-delay: 2.65s;
              transition-delay: 2.65s;
          }

          #sidebar nav > ul > li:nth-child(13) {
              -moz-transition-delay: 2.85s;
              -webkit-transition-delay: 2.85s;
              -ms-transition-delay: 2.85s;
              transition-delay: 2.85s;
          }

          #sidebar nav > ul > li:nth-child(14) {
              -moz-transition-delay: 3.05s;
              -webkit-transition-delay: 3.05s;
              -ms-transition-delay: 3.05s;
              transition-delay: 3.05s;
          }

          #sidebar nav > ul > li:nth-child(15) {
              -moz-transition-delay: 3.25s;
              -webkit-transition-delay: 3.25s;
              -ms-transition-delay: 3.25s;
              transition-delay: 3.25s;
          }

          #sidebar nav > ul > li:nth-child(16) {
              -moz-transition-delay: 3.45s;
              -webkit-transition-delay: 3.45s;
              -ms-transition-delay: 3.45s;
              transition-delay: 3.45s;
          }

          #sidebar nav > ul > li:nth-child(17) {
              -moz-transition-delay: 3.65s;
              -webkit-transition-delay: 3.65s;
              -ms-transition-delay: 3.65s;
              transition-delay: 3.65s;
          }

          #sidebar nav > ul > li:nth-child(18) {
              -moz-transition-delay: 3.85s;
              -webkit-transition-delay: 3.85s;
              -ms-transition-delay: 3.85s;
              transition-delay: 3.85s;
          }

          #sidebar nav > ul > li:nth-child(19) {
              -moz-transition-delay: 4.05s;
              -webkit-transition-delay: 4.05s;
              -ms-transition-delay: 4.05s;
              transition-delay: 4.05s;
          }

          #sidebar nav > ul > li:nth-child(20) {
              -moz-transition-delay: 4.25s;
              -webkit-transition-delay: 4.25s;
              -ms-transition-delay: 4.25s;
              transition-delay: 4.25s;
          }

  #sidebar nav a {
      -moz-transition: color 0.2s ease;
      -webkit-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
      transition: color 0.2s ease;
      border: 0;
      color: #ffffff;
      display: block;
      font-size: 0.6em;
      font-weight: bold;
      letter-spacing: 0.25em;
      line-height: 1.75;
      outline: 0;
      padding: 1.35em 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
  }

      #sidebar nav a:before, #sidebar nav a:after {
          border-radius: 0.2em;
          bottom: 0;
          content: '';
          height: 0.2em;
          position: absolute;
          right: 0;
          width: 100%;
      }

      #sidebar nav a:before {
          background: #121212;
      }

      #sidebar nav a:after {
          background-image: -moz-linear-gradient(to right, #ffffff, #ffffff);
          background-image: -webkit-linear-gradient(to right, #ffffff, #ffffff);
          background-image: -ms-linear-gradient(to right, #ffffff, #ffffff);
          background-image: linear-gradient(to right, #ffffff, #ffffff);
          -moz-transition: max-width 0.2s ease;
          -webkit-transition: max-width 0.2s ease;
          -ms-transition: max-width 0.2s ease;
          transition: max-width 0.2s ease;
          max-width: 0;
      }

      #sidebar nav a:hover {
          color: #919191;
      }

      #sidebar nav a.active {
          color: #919191;
      }

          #sidebar nav a.active:after {
              max-width: 100%;
          }

  body.is-preload #sidebar > .inner {
      opacity: 0;
  }

  body.is-preload #sidebar nav ul li {
      -moz-transform: translateY(2em);
      -webkit-transform: translateY(2em);
      -ms-transform: translateY(2em);
      transform: translateY(2em);
      opacity: 0;
  }

  @media screen and (max-width: 1280px) {

      #sidebar {
          height: 3.5em;
          left: 0;
          line-height: 3.5em;
          overflow: hidden;
          padding: 0;
          text-align: center;
          top: 0;
          width: 100%;
      }

          #sidebar > .inner {
              -moz-flex-direction: row;
              -webkit-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -moz-align-items: -moz-stretch;
              -webkit-align-items: -webkit-stretch;
              -ms-align-items: -ms-stretch;
              align-items: stretch;
              height: inherit;
              line-height: inherit;
          }

          #sidebar nav {
              height: inherit;
              line-height: inherit;
          }

              #sidebar nav ul {
                  display: -moz-flex;
                  display: -webkit-flex;
                  display: -ms-flex;
                  display: flex;
                  height: inherit;
                  line-height: inherit;
                  margin: 0;
              }

                  #sidebar nav ul li {
                      display: block;
                      height: inherit;
                      line-height: inherit;
                      margin: 0 0 0 2em;
                      padding: 0;
                  }

              #sidebar nav a {
                  height: inherit;
                  line-height: inherit;
                  padding: 0;
              }

                  #sidebar nav a:after {
                      background-image: none;
                      background-color: #ffffff;
                  }

  }

  @media screen and (max-width: 736px) {

      #sidebar {
          display: none;
      }

  }