.u-section-1 .u-sheet-1 {
  min-height: 370px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 39px 404px 0 581px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -252px auto 0 421px;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 188px;
  margin: -235px auto 54px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 300px;
    margin-left: 481px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 166px;
    margin-top: -197px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 183px;
    margin-left: 371px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 207px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  margin: 10px auto 0 1px;
}.u-section-3 .u-sheet-1 {
  min-height: 182px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 0 0;
} .u-section-4 {
  min-height: 117px;
}

.u-section-4 .u-text-1 {
  margin: 42px calc(((100% - 1140px) / 2) + -100px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-accordion-1 {
  width: 1140px;
  margin: 0 auto 7px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-image-1 {
  min-height: 847px;
  background-image: url("images/noisempa.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 45px;
}

.u-section-5 .u-accordion-1 {
  width: 1140px;
  margin: 0 auto 1px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 406px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 567px;
  margin-top: 0;
  margin-bottom: -161px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 44px;
  }

  .u-section-5 .u-accordion-1 {
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-5 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 64px;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 10px auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  text-transform: none;
  padding: 3px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 734px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 728px;
  margin-top: 5px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
}